* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: #FFFFFF;
    --background-button: #c1c1c120;
    --text-color-footer: #FFFFFF95;
}

a {
    text-decoration: none;
}

body {
    max-width: 400px;
    margin: 0 auto;
    background: url(./assets/images/bg_desktop_version.jpg) no-repeat center/cover;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin: 50px 0;
}

#menu a {
    width: 400px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;

    padding: 17px 0px 17px 15px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    background-color: var(--background-button);

    display: flex;
    align-items: center;
    gap: 15px;

    box-shadow: 0 1px 4px 0 #ffffff40;
    backdrop-filter: blur(8px);

    transition: background-color .5s ease-in-out;
}

#menu a:hover {
    background-color: #c1c1c140;
    transform: scale(1.01);
}

#menu a img {
    width: 40px;
}

footer {
    text-align: center;
    color: var(--text-color-footer);
}

footer a {
    color: var(--text-color);
    font-weight: bold;
    transition: color .5s;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(1, 165, 165);
}